aeon/n8n/workflows/auto-create-issue.json
{
  "name": "Auto-create GitHub Issue on Incident",
  "nodes": [
    {
      "parameters": {
        "path": "aeon-incident",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "aeon-incident"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst severity = data.severity || 'medium';\nconst emoji = severity === 'critical' ? '🔴' : severity === 'high' ? '🟠' : '🟡';\nreturn [{\n  json: {\n    title: `${emoji} [Aeon] ${data.title || 'Incident Detected'}`,\n    body: `## Incident Report\\n\\n**Root Cause:** ${data.root_cause || 'Under investigation'}\\n\\n**Suggested Fix:** ${data.fix || 'See Aeon dashboard'}\\n\\n**Confidence:** ${data.confidence || 0}%\\n\\n---\\n*Auto-generated by Aeon AI*`,\n    severity,\n    incident_id: data.incident_id || 'unknown'\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Format Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"issue_title\": \"{{ $json.title }}\", \"incident_id\": \"{{ $json.incident_id }}\" }"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Format Issue", "type": "main", "index": 0 }]] },
    "Format Issue": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "aeon-demo" }]
}
