n8n-setup/workflows/01-notify-slack.json
{
  "name": "CI Failure → Slack Notification",
  "nodes": [
    {
      "parameters": {
        "path": "aeon-ci-failure",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "node-webhook-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aeon-ci-failure"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst severity = (data.confidence >= 85) ? '🔴 HIGH' : (data.confidence >= 70) ? '🟠 MEDIUM' : '🟡 LOW';\nconst statusEmoji = data.status === 'failure' ? '❌' : '✅';\n\nreturn [{\n  json: {\n    blocks: JSON.stringify([\n      {\n        type: 'header',\n        text: {\n          type: 'plain_text',\n          text: `${statusEmoji} CI Failure Detected`,\n          emoji: true\n        }\n      },\n      {\n        type: 'section',\n        fields: [\n          { type: 'mrkdwn', text: `*Pipeline:*\\n${data.pipeline || data.name || 'unknown'}` },\n          { type: 'mrkdwn', text: `*Branch:*\\n${data.branch || 'main'}` },\n          { type: 'mrkdwn', text: `*Severity:*\\n${severity}` },\n          { type: 'mrkdwn', text: `*Confidence:*\\n${data.confidence || 0}%` }\n        ]\n      },\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Root Cause:*\\n>${data.error || data.root_cause || 'See Aeon dashboard for details'}`\n        }\n      },\n      {\n        type: 'actions',\n        elements: [\n          {\n            type: 'button',\n            text: { type: 'plain_text', text: 'View in Aeon', emoji: true },\n            url: `http://localhost:3000/ai`,\n            style: 'primary'\n          },\n          data.url ? {\n            type: 'button',\n            text: { type: 'plain_text', text: 'View Build', emoji: true },\n            url: data.url\n          } : null\n        ].filter(Boolean)\n      },\n      { type: 'divider' },\n      {\n        type: 'context',\n        elements: [{\n          type: 'mrkdwn',\n          text: `🤖 Analyzed by Aeon AI · ${new Date().toLocaleString()}`\n        }]\n      }\n    ]),\n    channel: '#ci-alerts',\n    text: `CI Failure: ${data.pipeline || 'build'} failed on ${data.branch || 'main'}`\n  }\n}];"
      },
      "id": "node-format-01",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "text": "={{ $json.text }}",
        "blocksUi": {
          "blocksValues": []
        },
        "otherOptions": {
          "blocks": "={{ $json.blocks }}"
        }
      },
      "id": "node-slack-01",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [760, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-aeon",
          "name": "Slack Aeon"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"notified\", \"channel\": \"#ci-alerts\" }"
      },
      "id": "node-respond-01",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Format Slack Message", "type": "main", "index": 0 }]]
    },
    "Format Slack Message": {
      "main": [[{ "node": "Slack", "type": "main", "index": 0 }]]
    },
    "Slack": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "aeon-demo" }, { "name": "slack" }],
  "notes": "Triggered by Aeon when a CI/CD build fails. Sends a formatted Slack block message with root cause, confidence score, and links. Requires Slack Incoming Webhook credential named 'Slack Aeon'."
}
