n8n-setup/workflows/02-create-github-issue.json
{
  "name": "Incident → GitHub Issue",
  "nodes": [
    {
      "parameters": {
        "path": "aeon-incident",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "node-webhook-02",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aeon-incident"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst severity = data.severity || 'medium';\nconst severityEmoji = { critical: '🔴', high: '🟠', medium: '🟡', low: '🔵' }[severity] || '🟡';\nconst confidence = data.confidence || 0;\n\nconst body = [\n  `## ${severityEmoji} Incident Report — Analyzed by Aeon AI`,\n  '',\n  `**Severity:** ${severity.toUpperCase()}  |  **Confidence:** ${confidence}%  |  **Incident ID:** \\`${data.incident_id || 'unknown'}\\``,\n  '',\n  '---',\n  '',\n  '### Root Cause',\n  '',\n  data.root_cause || '_Not determined_',\n  '',\n  '### Suggested Fix',\n  '',\n  '```',\n  data.fix || data.suggested_fix || 'See Aeon dashboard for AI-generated fix suggestion.',\n  '```',\n  '',\n  data.memory_match ? [\n    '### Memory Match',\n    '',\n    `This issue is similar to a previous incident: **${data.memory_match.id}** (${data.memory_match.time_ago})`,\n    '',\n    `> ${data.memory_match.root_cause || ''}`,\n  ].join('\\n') : '',\n  '',\n  '---',\n  '',\n  '### Resolution Checklist',\n  '',\n  '- [ ] Root cause verified by engineer',\n  '- [ ] Fix applied to codebase',\n  '- [ ] Tests passing',\n  '- [ ] Deployed to staging',\n  '- [ ] Deployed to production',\n  '- [ ] Incident marked resolved in Aeon',\n  '',\n  '---',\n  '',\n  `*Auto-generated by [Aeon AI](http://localhost:3000) · ${new Date().toISOString()}*`,\n].join('\\n');\n\nconst title = `[Aeon ${severityEmoji}] ${data.title || data.root_cause?.slice(0, 60) || 'Incident Detected'}`;\n\nreturn [{ json: { title, body, severity, confidence, incident_id: data.incident_id } }];"
      },
      "id": "node-format-02",
      "name": "Format Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "owner": "YOUR_GITHUB_ORG",
        "repository": "YOUR_REPO_NAME",
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "labels": {
          "values": [
            { "label": "bug" },
            { "label": "aeon-detected" },
            { "label": "={{ $json.severity }}" }
          ]
        }
      },
      "id": "node-github-02",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [760, 300],
      "credentials": {
        "githubApi": {
          "id": "github-aeon",
          "name": "GitHub Aeon"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"issue_created\", \"issue_url\": \"{{ $json.html_url }}\", \"issue_number\": {{ $json.number }} }"
      },
      "id": "node-respond-02",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Format Issue", "type": "main", "index": 0 }]]
    },
    "Format Issue": {
      "main": [[{ "node": "GitHub", "type": "main", "index": 0 }]]
    },
    "GitHub": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "aeon-demo" }, { "name": "github" }],
  "notes": "Triggered by Aeon when a new incident is detected. Creates a GitHub issue with full root cause analysis, suggested fix, memory match reference, and a resolution checklist. Requires GitHub credential named 'GitHub Aeon'. Edit the GitHub node to set your org and repo name."
}
