n8n-setup/workflows/05-daily-ci-report.json
{
  "name": "Daily CI/CD Health Report",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }] }
      },
      "id": "node-cron-05",
      "name": "Weekday 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://aeon-backend:8000/api/pipelines/stats?period=24h",
        "options": { "timeout": 15000 }
      },
      "id": "node-fetch-05",
      "name": "Fetch Aeon Pipeline Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json;\nconst total = stats.total || 0;\nconst passed = stats.passed || 0;\nconst failed = stats.failed || 0;\nconst passRate = total > 0 ? Math.round((passed / total) * 100) : 100;\nconst emoji = passRate >= 90 ? '🟢' : passRate >= 75 ? '🟡' : '🔴';\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toLocaleDateString('en-US', { weekday: 'long', month: 'short', day: 'numeric' });\n\nreturn [{\n  json: {\n    blocks: JSON.stringify([\n      {\n        type: 'header',\n        text: { type: 'plain_text', text: `${emoji} Daily CI/CD Report — ${dateStr}`, emoji: true }\n      },\n      {\n        type: 'section',\n        fields: [\n          { type: 'mrkdwn', text: `*Total Builds:*\\n${total}` },\n          { type: 'mrkdwn', text: `*Pass Rate:*\\n${passRate}%` },\n          { type: 'mrkdwn', text: `*Passed:*\\n✅ ${passed}` },\n          { type: 'mrkdwn', text: `*Failed:*\\n❌ ${failed}` }\n        ]\n      },\n      stats.top_failures && stats.top_failures.length > 0 ? {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text: `*Most Failing Pipelines:*\\n${stats.top_failures.map(f => `• ${f.name}: ${f.count} failures`).join('\\n')}`\n        }\n      } : null,\n      {\n        type: 'actions',\n        elements: [{\n          type: 'button',\n          text: { type: 'plain_text', text: 'Open Aeon Dashboard', emoji: true },\n          url: 'http://localhost:3000',\n          style: 'primary'\n        }]\n      }\n    ].filter(Boolean)),\n    text: `CI/CD Report: ${passRate}% pass rate yesterday (${passed}/${total} builds)`\n  }\n}];"
      },
      "id": "node-format-05",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "text": "={{ $json.text }}",
        "blocksUi": { "blocksValues": [] },
        "otherOptions": { "blocks": "={{ $json.blocks }}" }
      },
      "id": "node-slack-05",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1020, 300],
      "credentials": {
        "slackApi": { "id": "slack-aeon", "name": "Slack Aeon" }
      }
    }
  ],
  "connections": {
    "Weekday 8am": { "main": [[{ "node": "Fetch Aeon Pipeline Stats", "type": "main", "index": 0 }]] },
    "Fetch Aeon Pipeline Stats": { "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]] },
    "Format Report": { "main": [[{ "node": "Slack", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "aeon-demo" }, { "name": "reporting" }, { "name": "slack" }],
  "notes": "Runs every weekday at 08:00. Fetches 24-hour pipeline stats from the Aeon backend and posts a formatted daily health report to Slack with pass rate, failure count, and top failing pipelines."
}
