n8n-setup/workflows/07-security-vulnerability-alert.json
{
  "name": "Security Scan Failure → Vulnerability Alert",
  "nodes": [
    {
      "parameters": {
        "path": "aeon-security-alert",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "node-webhook-07",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aeon-security-alert"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.status }}", "operation": "equals", "value2": "failure" },
            { "value1": "={{ $json.name }}", "operation": "contains", "value2": "security" }
          ]
        }
      },
      "id": "node-filter-07",
      "name": "Security Failures Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst summary = data.error_summary || '';\nconst hasCritical = summary.toLowerCase().includes('critical');\nconst cveMatch = summary.match(/CVE-\\d{4}-\\d+/g) || [];\n\nreturn [{\n  json: {\n    severity: hasCritical ? 'CRITICAL' : 'HIGH',\n    cves: cveMatch,\n    summary,\n    pipeline: data.name,\n    repo: data.repo,\n    branch: data.branch,\n    build_url: data.url,\n    blocks: JSON.stringify([\n      {\n        type: 'header',\n        text: { type: 'plain_text', text: `🚨 Security Alert — ${hasCritical ? 'CRITICAL' : 'HIGH'} Vulnerability`, emoji: true }\n      },\n      {\n        type: 'section',\n        fields: [\n          { type: 'mrkdwn', text: `*Pipeline:*\\n${data.name}` },\n          { type: 'mrkdwn', text: `*Repository:*\\n${data.repo || 'unknown'}` },\n          { type: 'mrkdwn', text: `*Branch:*\\n${data.branch}` },\n          { type: 'mrkdwn', text: `*CVEs:*\\n${cveMatch.length > 0 ? cveMatch.join(', ') : 'See report'}` }\n        ]\n      },\n      {\n        type: 'section',\n        text: { type: 'mrkdwn', text: `*Finding:*\\n>${summary.substring(0, 300)}` }\n      },\n      {\n        type: 'actions',\n        elements: [\n          {\n            type: 'button', style: 'danger',\n            text: { type: 'plain_text', text: 'View Security Report', emoji: true },\n            url: data.url || 'http://localhost:3000'\n          },\n          {\n            type: 'button',\n            text: { type: 'plain_text', text: 'Open in Aeon', emoji: true },\n            url: 'http://localhost:3000/incidents'\n          }\n        ]\n      }\n    ])\n  }\n}];"
      },
      "id": "node-format-07",
      "name": "Format Security Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 200]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "text": "={{ $json.severity }} security vulnerability found in {{ $json.repo }} — {{ $json.cves.length > 0 ? $json.cves.join(', ') : 'see report' }}",
        "blocksUi": { "blocksValues": [] },
        "otherOptions": { "blocks": "={{ $json.blocks }}", "channel": "#security-alerts" }
      },
      "id": "node-slack-07",
      "name": "Slack #security-alerts",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1020, 200],
      "credentials": {
        "slackApi": { "id": "slack-aeon", "name": "Slack Aeon" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"security_alert_sent\", \"severity\": \"{{ $('Format Security Alert').item.json.severity }}\" }"
      },
      "id": "node-respond-07",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1280, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"skipped\", \"reason\": \"not a security pipeline failure\" }"
      },
      "id": "node-skip-07",
      "name": "Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 420]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Security Failures Only", "type": "main", "index": 0 }]] },
    "Security Failures Only": {
      "main": [
        [{ "node": "Format Security Alert", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    },
    "Format Security Alert": { "main": [[{ "node": "Slack #security-alerts", "type": "main", "index": 0 }]] },
    "Slack #security-alerts": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "aeon-demo" }, { "name": "security" }, { "name": "slack" }],
  "notes": "Triggered when Aeon detects a security scan pipeline failure. Extracts CVE IDs from the error summary, classifies severity (CRITICAL vs HIGH), and posts a formatted Slack alert to #security-alerts with direct links to the build report and Aeon incidents page."
}
